/* CSS Document */
body
{
	margin: 0;
}
img
{
	border: 0;
	border-style: solid;
}
table
{
	font-family: Arial, Helvetica, sans-serif;
	border-width: 0;
	border-style: solid;
	padding: 0;
}

.tableCommand
{
	margin-left:50px;
	text-indent: 3px;
	width: 675;
	border:0px solid;
	cell-padding:0;
	cell-spacing:0;	
}

.tableHeading
{
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #1A4876;
	background-color: b4d8f4;
	margin-top: 2px;
	margin-bottom: 2px;
}
.tableEntry
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: 0A4876;
	margin-left: 4px;
	background-color: #b4d8f4;
}

.tableJob
{
	margin-left:52px;
	border:0px solid;
	width: 671;	
	text-indent: 3px;
	padding:0;
	spacing:0;
}

.tdJobOption
{
	background-color: #0A4876;
	font-size: 10px;
	color: white;	
}
.tdJobHeader
{
	background-color: #0A4876;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white;	
}


.sampleLink
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000FF;
	text-decoration: underline;
}
.pageHeading
{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #0A4876;
	text-indent: 4pt;
	vertical-align: bottom;
}

.pageInfo
{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #0A4876;
	text-indent: 4pt;
}

a.CmdSm
{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ff0000;
}

.logoutLink
{
	top: 0px;
	position: absolute;
	z-index: auto;
	left: 648px;
}


td.navBar
{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #0A4876;
	text-align: right;
	vertical-align: bottom;
}

.currUserDisp
{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #0A4876;
	text-align: right;
	vertical-align: bottom;
}
.currModelDisp
{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0A4876;
	text-align: right;
	vertical-align: bottom;
}

.ReportLabels
{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0A4876;
	text-align: left;
	vertical-align: top;
}

.dataDisp
{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 150%;
	color: #0A4876;
	margin-left: 20px;
}


.indent50
{
	padding-left: 50px;
}
.smBright
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	font-style: italic;
}
.smNormal
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.error
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	font-style: bold;
}

a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000FF;
}

basefont
{
	font-family: Arial, Helvetica, sans-serif;
}

.labelLeft
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
}
.labelRight
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: right;
}
.labelCenter
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}
.center
{
	text-align: center;
}
.right
{
	text-align: right;
}
.left
{
	text-align: left;
}

.fltrTblHdngLeft
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	font-weight: bold;
	color: #0A4876;
	text-indent: 0pt;
	background-color: b4d8f4;
	text-align: left;
}
.fltrTblHdng
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	font-weight: bold;
	color: #0A4876;
	text-indent: 0pt;
	background-color: b4d8f4;
	text-align: center;
}

.fltrTblHdng1
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 6pt;
	font-weight: bold;
	color: #0A4876;
	text-indent: 0pt;
	background-color: b4d8f4;
	text-align: center;
}
.fltrWidth1
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 13;
	font-size: 9pt;
}
.fltrWidth2
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 20;
	font-size: 9pt;
}
.fltrWidth3
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 28;
	font-size: 9pt;
}
.fltrWidth4
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 34;
	font-size: 9pt;
}
.fltrWidth5
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 41;
	font-size: 9pt;
}
.fltrWidth6
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 50;
	font-size: 9pt;
}
.fltrWidth7
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 59;
	font-size: 9pt;
}
.fltrWidth8
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 68;
	font-size: 9pt;
}
.fltrWidth9
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 77;
	font-size: 9pt;
}
.fltrWidth10
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 86;
	font-size: 9pt;
}
.fltrWidth15
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 112;
	font-size: 9pt;
}
.fltrWidth16
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 121;
	font-size: 9pt;
}

.mntTblHdng
{
	color: #040E74;
	background-color: b4d8f4;
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	font-weight: bold;
	color: #0A4876;
	text-indent: 0pt;
	text-align: center;
	vertical-align: top;
}
.mntColHdng
{
	color: #040E74;
	background-color: b4d8f4;
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	font-weight: bold;
	color: #0A4876;
	text-indent: 0pt;
	text-align: center;
	vertical-align: middle;
}
.mntWidth1
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 15;
	font-size: 9pt;
}
.mntWidth2
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 20;
	font-size: 9pt;
}
.mntWidth3
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 28;
	font-size: 9pt;
}
.mntWidth4
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 34;
	font-size: 9pt;
}
.mntWidth5
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 41;
	font-size: 9pt;
}
.mntWidth6
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 50;
	font-size: 9pt;
}
.mntWidth7
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 59;
	font-size: 9pt;
}
.mntWidth8
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 68;
	font-size: 9pt;
}
.mntWidth10
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 80;
	font-size: 9pt;
}
.mntWidth15
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 112;
	font-size: 9pt;
}
.mntWidth20
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 148;
	font-size: 9pt;
}
.mntWidth16
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 138;
	font-size: 9pt;
}
.mntWidth35
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 250;
	font-size: 9pt;
}
.mntWidth50
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 356;
	font-size: 9pt;
}



.mntLeft
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	text-align: left;
}
.mntCenter
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	text-align: center;
}
.mntRight
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	text-align: right;
}
.rateWidth20
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 165;
	font-size: 10pt;
}
.rateWidth40
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	width: 325;
	font-size: 10pt;
}

table.mntNav
{
	background-color: #003F77;
	color: white;
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	border-width: 0;
	border-color: #003F77;
	border-style: solid;
}
a.mntNav:link
{
	color: white;
	background-color: #003F77;
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}
a.mntNav:visited
{
	color: white;
	background-color: #003F77;
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}
a.mntNav:hover
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 10pt;
	font-weight: bold;
	color: #FEDF31;
	background-color: #003F77;
	text-decoration: none;
}
a.mntNav:active
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 10pt;
	font-weight: bold;
	color: #FEDF31;
	background-color: #003F77;
	text-decoration: none;
}


a.mntSort:link
{
	color: blue;
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: underline;
}
a.mntSort:visited
{
	color: blue;
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: underline;
}
a.mntSort:hover
{
	color: blue;
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: underline;
}
a.mntSort:active
{
	color: blue;
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: underline;
}

.evenRow
{
	background-color: white;
	vertical-align: top;
}
.oddRow
{
	background-color: #FFFFCC;
	vertical-align: top;
}
.evenRowCenter
{
	background-color: white;
	text-align: center;
}
.oddRowCenter
{
	background-color: #FFFFCC;
	text-align: center;
}


hr
{
	color: #1A4876;
	width: 780;
	text-align: left;
}

.pagingInfo
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 10pt;
}
.pagingInfoFltrChanged
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 10pt;
	color: red;
}

.recordsNotFound
{
	font-family: "Lucida Console", "fixedsys", "Courier New", Courier, monospace;
	font-size: 10pt;
	color: red;
	text-align: center;
}

a.error:link
{
	color: red;
	font-family: "Arial", sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}
a.error:visited
{
	color: red;
	font-family: "Arial", sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}
a.error:hover
{
	color: red;
	font-family: "Arial", sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}
a.error:active
{
	color: red;
	font-family: "Arial", sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FEDF31;
	text-decoration: none;
}

.bgWhiteRight
{
	background-color: white;
	text-align: right;
}

.hidden
{
	display: "none";
}
.visible
{
	display: "";
}

.pagingBtns
{
	text-align: center;
	width: 1%;
}

.commandOption
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: 0A4876;
	margin-left: 2px;
	background-color: white;
	margin-top: 2px;
	margin-bottom: 2px;	
}

.commandOptionLabel
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: 0A4876;
	margin-left: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: white;
}
.information {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;	
	color: 0A4876;
}
